organization       = "hatan4ik"
region             = "us-east-1"
vpc_cidr           = "10.50.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]
single_nat_gateway = false

migration_name_override = null
kubernetes_version      = "1.30"
node_instance_type      = "m6i.large"
node_disk_size_gb       = 100
node_scaling            = { min = 3, desired = 3, max = 10 }

endpoint_public_access       = false
endpoint_public_access_cidrs = []

tags = {
  Owner      = "platform"
  CostCenter = "replace-me"
}
